<link rel="stylesheet" href="css/header.css">
<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav">
    <a class="active" href="#home"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="#news"><i class="fa fa-fw fa-user"></i>News</a>
    <a href="#contact"><i class="fa fa-fw fa-envelope"></i>Contact</a>
    <div class="topnav-right">
      <a href="#search"><i class="fa fa-fw fa-search"></i>Search</a>
      <a href="#about"><i class="fa fa-fw fa-user"></i>About</a>
    </div>
  </div>